body{
    background-color: #f9f9f9;
}

/* Navbar */



#navbar{
    background-color: rgba(0, 0, 0, 0.9);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav-icons{
    display: flex;
    gap: 15px;
}


/* Responsabilités */
.box
{
    padding: 0;    
}
.icon_box
{
    display: flex;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 0;
    justify-content: space-evenly;
    padding: 20px;
    background-color: white;

   
   
}

.icon>i{
    position:relative;
    top: calc(50% - 18px); 
}



#icon_box_livraison
{
    border-left: 1px solid #ddd;
}




.popover{
    min-width: 350px;
    position: fixed;
}

ul {
    list-style: none;
    padding-left: 0;
    }

.pop_panier_produit{
    display: flex;
    
}

.pop_panier_description{
    display: flex;
    flex-direction: column;
}