body{
    background-color: #f9f9f9;
  
}

/* Navbar */



#navbar{
    background-color: rgba(0, 0, 0, 0.9);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar-nav{
    margin-right: 2%;
}

.nav-icons{
    display: flex;
    gap: 15px;
    color: white;
}

.nav-icon{
    color:white;
}

.nav-icon:hover{
    color: rgb(78, 158, 188);
}

#nombre_article{
    background-color: rgb(78, 158, 188);
    border-radius: 52%;
    width: 20px;
    height: 20px;
    text-align: center;
  
}

.nombre{
    width: 20px;
    height: 20px;
}


/* Responsabilités */
.box
{
    padding: 0;
    display: flex;
    background-color: rgb(78, 158, 188); 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;  
    border-radius: 2.5rem;
  
}

.icon{
    color:white;
    align-self: center;
    padding-right: 0.5rem;

}

.icon_box_content{
    color:white;
}

.icon_box_title{
    font-weight: 500;
    line-height: 1.9rem;
    font-size: 1.1rem;
    font-family: "BodyFont", sans-serif;
    margin: 0;
}

.icon_box_description{
    line-height: 1.8rem;
    font-weight: 300;
    font-size: 0.9rem;
    font-family: "Body-font", sans-serif;
    margin:0;
}



.icon_box{
    display:flex;
    justify-content: center;
    padding: 0.5rem;
}




/*********/
.popover{
    min-width: 350px;
    position: fixed;
}

ul {
    list-style: none;
    padding-left: 0;
    }

.pop_panier_produit{
    display: flex;
    
}

.pop_panier_description{
    display: flex;
    flex-direction: column;
}

.pop_total{
    display: flex;
    justify-content: space-between;
}


/*********/

#list_products{
    justify-content: center;
}

#title_products{
    text-align: center;
}


/***********/


.card-text-modele{
    font-weight: 500;
    line-height: 1.9rem;
    font-size: 1.1rem;
    font-family: "BodyFont", sans-serif;
}


.card-text-detail{
    line-height: 1.8rem;
    font-weight: 300;
    font-size: 0.9rem;
    font-family: "Body-font", sans-serif;
}

.card-text-prix{
    font-weight: 500;
    line-height: 1.9rem;
    font-size: 1rem;
    font-family: "BodyFont", sans-serif;
}


/*****/

.card{
    border-radius: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}


/*****/
.description_produit{
    display: flex;
  
    
    
}

.photo{
    text-align: center;
    background-color: white;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}




.detail{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
}

.detail_modele{
    font-size: 2rem;
    font-family: "BodyFont", sans-serif;
}

.detail_detail{
    line-height: 1.8rem;
    font-weight: 300;
    font-size: 1rem;
    font-family: "Body-font", sans-serif;
}

.detail_prix{
    
        font-size: 1.8rem;
        font-family: "BodyFont", sans-serif;

}



/**********/
 
.btn{
    background-color: rgb(78, 158, 188);
    border: none;
    width: 200px;
    color: white;
}

.btn-pop{
    background-color: rgb(78, 158, 188);
    border: none;
    width: 100%;
    color: white;
    border-radius: 0.25rem;
    padding: 6px 12px;
    font-size: 16px;
}


/**********/

